.outerDiv {
    max-width: 100vw;
    overflow: hidden;
    height: 100%;
}

.movieSection {
    padding-bottom: 300px;
    background-image: url("https://image.tving.com/upload/fe/highlight/2023/1006/20231006140815banner_image_url_u.jpg/dims/resize/F_webp,1920");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.searchSector {
    width: 700px!important;
}

.searchList {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.contentSectorMovie {
    margin-bottom: 50px;
    font-size: 20px;
    font-style: italic;
}

.contentSectorOtt {
    margin: 50px 0px 50px 0px;
    font-size: 20px;
    font-style: italic;
}

.movieList {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 3600px;
    max-height: 100%;
    margin-top: 300px;
    padding-left: 130px;
}

.movieBox {
    width: 250px;
    height: 400px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.contentCnt {
    margin: 10px 150px 0px 0px;
    font-style: italic;
}

.contentDetail {
    margin-top: 100px;
}