.outerDiv {
    max-width: 100vw;
    height: 100%;
}

.movieList {
    position: relative;
    width: 1680px;
}

.ottList {
    position: relative;
    width: 1680px;
}


.movieContentSection .slick-center {
    transform: scale(1.2);
}

.movieSection {
    width: 100%;
    height: 70vh;
    /*background-image: linear-gradient(0deg,transparent,black);*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.ottSection {
    width: 100%;
    height: 70vh;
    /*background-image: linear-gradient(0deg,transparent,black);*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.movieBackSlide .oneMovie {
    width: 100%;
    height: 1000px;
    background: #9a9090;
    object-fit: cover;
}
.ottBackSlide .oneOtt {
    width: 100%;
    height: 500px;
    object-fit: cover;
}






.movieContentSection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(180deg, transparent, #111111 10%);
}

.slick-center .overlay { /* 흐린 div가 중앙으로 왔을 때*/
    opacity: 0;
}

.movieList .overlay { /* center 제외한 div요소 */
    position: relative;
    top: -365px;
    left: 0;
    width: 250px;
    height: 400px;
    background: rgba(0, 0, 0, 0.6);
}

.ottList .overlay { /* center 제외한 div요소 */
    position: relative;
    top: -365px;
    left: 0;
    width: 250px;
    height: 400px;
    background: rgba(0, 0, 0, 0.6);
}
.movieSection .movieBackSlide .draggable {
    margin-top: -10px;
    z-index: -3;
    height: 800px;
}

div.slick-track {
    height: 500px!important;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.ottList {*/
/*    position: relative;*/
/*    top: -150px;*/
/*    overflow: hidden;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*    max-height: 100%;*/
/*    padding-left: 130px;*/
/*    z-index: 0;*/
/*    background-image: linear-gradient(180deg, transparent, #111111 10%);*/
/*}*/

.movieList .contentBox {
    width: 250px!important;
    height: 400px;
    text-align: center;
    margin: 20px 15px 0px 15px;
    background: #d54949;
    transition: all linear .4s;
    z-index: 1;
    cursor: pointer;
}

.ottList .contentBox {
    width: 250px!important;
    height: 400px;
    text-align: center;
    margin: 20px 15px 0px 15px;
    background: #d54949;
    transition: all linear .4s;
    z-index: 1;
}

/*.boverBox:hover {*/
/*    width: 250px;*/
/*    height: 400px;*/
/*    text-align: center;*/
/*    margin-top: 20px;*/
/*    margin-bottom: 50px;*/
/*    z-index: -1;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background-color: rgba(26, 25, 28, 0.95);*/
/*    opacity: 0;*/
/*    -webkit-transition: all .2s ease-out .3s;*/
/*    transition: all .2s ease-out .3s;*/
/*}*/

.contentCnt {
    margin: 10px 170px 0px 0px;
    font-size: 60px;
    font-style: italic;
}

.contentDetail {
    margin-top: 260px;
}

.form-select {
    width: 150px;
}


/*검색 영역*/
.searchList{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}
.form-select{
    text-align: center;
    height: 50px;
    width: 150px;
    font-size: 12pt;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    background-color: black;
}
#search-input{
    height: 50px;
    width: 600px;
    font-size: 12pt;
    border-radius: 10px;
    color: white;
    background-color: black;
}
#btn-search{
    height: 50px;
    width: 100px;
    font-size: 12pt;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    background-color: black;
}
#btn-search:hover{
    background-color: red;
    color: white;
}